<section class="galery">
    <div class="container">
        <div class="container_galery">
            <div class="galery_column">
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_1_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_1.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_5_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_5.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
            </div>
            <div class="galery_column">
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_2_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_2.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_6_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_6.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
            </div>
            <div class="galery_column">
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_3_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_3.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_7_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_7.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_9_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_9.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
            </div>
            <div class="galery_column">
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_4_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_4.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
                <div class="galery_wrapper_item">
                    <img src="/img/new_galery_8_pop.jpg">
                    <div class="galery_hover_item" data-fancybox="gallery" href="/img/new_galery_8.jpg">
                        <img src="/img/camera.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>