<section class="about_direction text_section">
    <div class="container">
        <div class="row">
                <h2 class="color_blue">Відділення Медичного центру</h2>
        </div>
    </div>
    <div class="service_row">
        <div class="left_block stacionar_for_adults"></div>
        <div class="right_block">
            <p class="service_title color_red">Консультація та діагностика</p>
            <div class="service_desc"><p style="text-align: justify; ">До послуг клієнтів МЦ «Клініка Мануфактура»&nbsp;-
            штат лікарів з великим досвідом роботи. Клініка надає консультативні лікарські послуги вузьких спеціалістів:
            нейрохірурга, ортопеда, травматолога, невролога, судинного хірурга, хірурга&nbsp; загальної практики, кардіолога,
            ендокринолога, гінеколога, проктолога, уролога, гастроентеролога, інших спеціалістів, а також послуги тривалого
            спостереження або консультації сімейного лікаря, терапевта, педіатра та неонатолога. Власний діагностичний центр
            клініки «Мануфактура» з повноцінною лабораторією та сучасним обладнанням для проведення магнітно-резонансної
            томографії (МРТ), комп'ютерної томографії (КТ), рентгенографії, ультразвукового дослідження УЗД, що проводяться
            досвідченими фахівцями-діагностами, дозволяють проводити комплексне обстеження та ретельний огляд скарг пацієнтів,
            ставити точні діагнози та вибирати оптимальну тактику лікування.</p></div>
            <a href="/direction/konsultatsiya-ta-diagnostika/" class="service_button_red">
                Детальніше про відділення
            </a>
        </div>
    </div>
    <div class="service_row">
        <div class="left_block background_gray">
            <p class="service_title color_blue">Стаціонар</p>
            <div class="service_desc"><p>Медичний центр «Клініка Мануфактура» щоденно в режимі 24/7 приймає на
            лікування та догляду в терапевтичний стаціонар пацієнтів з різними видами захворювань.
            Стаціонарне лікування передбачає компетентну, глибоку комплексну діагностику та оцінку стану хворого,
            індивідуальний та виважений план лікування. При цілодобовому перебуванні проводиться спостереження
            підготовленим медичним персоналом, виконуються терапевтичні маніпуляції, спрямовані на швидке одужання пацієнта.
            У денному стаціонарі, відвідувачі можуть знаходитися в разі необхідності курсового лікування, що складається з
            декількох процедур або діагностичних досліджень, для якісної підготовки до діагностики або оперативного втручання.
            Пацієнту надається повний доступ до результатів обстеження, схеми призначеного лікування та висновків лікарів.</p>
            </div>
            <a href="/direction/statsionar/" class="service_button_blue">
                    Детальніше про відділення
            </a>
        </div>
        <div class="right_block rehabilitation"></div>
    </div>
    <div class="service_row">
        <div class="left_block surgery"></div>
        <div class="right_block">
            <p class="service_title color_red">Хірургія та реанімація</p>
            <div class="service_desc"><p>Лікарі хірургічного стаціонару&nbsp;<span style="text-align: justify;">МЦ«Клініка
            Мануфактура»</span>&nbsp;проводять фахову хірургічну допомогу при захворюваннях різної складності з подальшим
            спостереженням за станом здоров'я пацієнтів. Оперативне лікування та терапевтичне післяопераційне відновлення
            проводиться в тісній взаємодії профільних лікарів клініки, забезпечуючи принцип комплексного підходу повноцінного
            лікування. У хірургічному стаціонарі клініки надаються планові та ургентні (екстрені) операції, а також послуги
                амбулаторної хірургії. </p></div>
            <a href="/direction/hirurgiya-ta-reanimatsiya/" class="service_button_red">
                    Детальніше про відділення
            </a>
        </div>
    </div>
    <div class="service_row">
        <div class="left_block background_gray">
            <p class="service_title color_blue">Реабілітація</p>
            <div class="service_desc"><p>Медичний центр «Клініка Мануфактура» надає повний спектр сучасних
            реабілітаційних методик для відновлення здоров’я спини, суглобів, м’язів, використовуючи класичні та
            інноваційні методи. Досвідчені лікарі вертебрологи та реабілітологи розробляють індивідуальну комплексну
            програму для кожного пацієнта, враховуючи наявні захворювання та особливості організму пацієнта.</p>
            <p>У клініці виконуються фізіопроцедури, які розроблені відповідно до новітніх програм лікувальної фізкультури,
                виконується комп'ютерна витяжка хребта, проводяться курс лікувального та спортивного масажу,
                курси реабілітації після важких травм та операцій на кістках та суглобах.
                Окремо надаються терапевтичні курси по підготовці суглобів перед та відновлення після ендопротезування,
                що є обов’язковими для ефективного оперативного лікування.</p></div>
            <a href="/direction/vertebrologiya-ta-reabilitatsiya/" class="service_button_blue">
                    Детальніше про напрямок
            </a>
        </div>
        <div class="right_block diagnostics"></div>
    </div>
</section>