<section class="category_direction">
    <div class="container">
        <div class="wraper_button_direction_staff">
            <div class="button_direction">Напрямки
                <div class="dropdown_search">
                    <ul>
                        <li class="item_select_found"
                            data-type="shares-direction" data-id="36">Стаціонар</li>
                        <li class="item_select_found"
                            data-type="shares-direction" data-id="97">Консультація та діагностика</li>
                        <li class="item_select_found"
                            data-type="shares-direction" data-id="101">Ортопед та травматолог</li>
                        <li class="item_select_found"
                            data-type="shares-direction" data-id="105">Мамолог-онколог</li>
                        <li class="item_select_found"
                            data-type="shares-direction" data-id="114">Вертебрологія та реабілітація</li>
                    </ul>
                </div>
            </div>
            <input type="text" class="staff_find_input" data-type="post_title_doc" placeholder="пошук лікаря">
        </div>
    </div>
</section>