<section class="category_blog_wrapper">
    <div class="container">
        <div class="row category_blog_row">
            <div class="category_blog_item">
                <div class="litle_card_wrapper">
                    <div class="litle_card">
                        <div class="litle_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1587470260akz_mam.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="litle_card_right">
                            <div class="litle_card_right_wrapper">
                                <p class="litle_card_text_first color_red">21.04.2020</p>
                                <p class="litle_card_text_second color_blue">Мамографія</p>
                                <p>ЗНИЖКА 20% до 30.04.2020</p>
                                <p class="litle_card_read_more"><a href="/shares/mamografiya/">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_blog_item">
                <div class="litle_card_wrapper">
                    <div class="litle_card">
                        <div class="litle_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1586193759preview_staz.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="litle_card_right">
                            <div class="litle_card_right_wrapper">
                                <p class="litle_card_text_first color_red">16.03.2020</p>
                                <p class="litle_card_text_second color_blue">Двомісна палата стаціонару</p>
                                <p></p>
                                <p class="litle_card_read_more"><a href="/shares/dvomisna-palata-statsionaru/">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_blog_item">
                <div class="litle_card_wrapper">
                    <div class="litle_card">
                        <div class="litle_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1586193928akz_intens.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="litle_card_right">
                            <div class="litle_card_right_wrapper">
                                <p class="litle_card_text_first color_red">16.03.2020</p>
                                <p class="litle_card_text_second color_blue">Палати інтенсивної терапії</p>
                                <p></p>
                                <p class="litle_card_read_more"><a href="/shares/palati-intensivnoyi-terapiyi/">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_blog_item">
                <div class="litle_card_wrapper">
                    <div class="litle_card">
                        <div class="litle_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1586194341akz_udar.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="litle_card_right">
                            <div class="litle_card_right_wrapper">
                                <p class="litle_card_text_first color_red">16.03.2020</p>
                                <p class="litle_card_text_second color_blue">Ударно-хвильова терапія</p>
                                <p></p>
                                <p class="litle_card_read_more"><a href="/shares/sudarno-hvylova-terapiya/">Подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>