<section class="contacts_map">
    <div class="container contacts_row">
        <div class="contacts_map_left">
            <img src="{{img}}">
        </div>
        <div class="contacts_map_right">
            {{#simpleContent map}}{{/simpleContent}}
        </div>
    </div>
</section>