<footer class="footer">
    {{>map}}
    {{>footer_menu}}
    {{>partners_logo_footer}}
    {{>footer_last_section}}
    {{>footer_dev}}
    {{>question_pop_up}}
    {{>appointment_pop_up}}
</footer>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>