<div class="container">
    <div class="footer_last_section">
        <div class="footer_section_item">
            <img src="/img/Logo02.png">
            <p>Лицензия ГКРРФУ серия АВ № 584270 от 18.05.11г.</p>
        </div>
        <div class="footer_section_item">
            <img src="/img/247-00001.svg" data-desctop-easy-load="/img/247-00001.svg">
            <div class="footer_tel"><a href="tel:+380442001199"><span>044</span> 200 11 99</a></div>
            <div class="footer_tel"><a href="tel:+380442001199"><span>093</span> 200 11 90</a></div>
            <div class="footer_tel"><a href="tel:+380442001199"><span>067</span> 200 11 97</a></div>
        </div>
        <div class="footer_section_item">
            <ul>
                <li><a href="/about/">ПРО МЕДЦЕНТР</a></li>
                <li><a href="/staff/">ЛІКАРІ</a></li>
                <li><a href="/shares/">АНОНСИ ТА АКЦІЇ</a></li>
                <li><a href="/qa/">ПИТАННЯ ТА ВІДПОВІДІ</a></li>
                <li><a href="/price-list/">ВАРТІСТЬ</a></li>
                <li><a href="/partners/">ЗАРУБІЖНІ ПАРТНЕРИ</a></li>
                <li><a href="/contacts/">ЯК ДІСТАТИСЯ</a></li>
            </ul>
        </div>
        <div class="footer_section_item">
            <ul>
                <li><a href="/job/">ВАКАНСІЇ</a></li>
                <li><a href="#">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a></li>
                <li><a href="#">ПОЛІТИКА ОБРОБКИ ДАНИХ</a></li>
                <li><a href="#">ЛІЦЕНЗІЇ</a></li>
            </ul>
        </div>
        <div class="footer_section_item">
            <button class="button_footer_style popup_activ_2">Задати питання</button>
            <button class="button_footer_style popup_activ_1">Записатись на прийом</button>
        </div>
    </div>
</div>