<div class="container">
    <div class="footer_dev">
        <img src="/img/Gray.gif">
        <p><a href="http://medmarketing.ua/" target="_blank">Development and support by МedМarketing</a></p>
    </div>
</div>