<div class="footer_menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 footer_menu_wrapper">
                <div class="footer_menu_item">
                    <a href="/direction/konsultatsiya-ta-diagnostika/">Консультація та діагностика</a></div>
                <div class="footer_menu_item">
                <a href="/direction/statsionar/">Стаціонар</a></div>
                <div class="footer_menu_item">
                <a href="/direction/hirurgiya-ta-reanimatsiya/">Хірургія та реанімація</a></div>
                <div class="footer_menu_item">
                <a href="/direction/vertebrologiya-ta-reabilitatsiya/">Реабілітація</a></div>
                <div class="footer_menu_item">
                <a href="/programs-adults/">Oбстеження для дорослих</a></div>
                <div class="footer_menu_item">
                <a href="/programs-children/">Oбстеження для дітей</a></div>
            </div>
        </div>
    </div>
</div>