<section class="global_found">
    <div class="container">
        <div class="row">
            <div>
                <div class="tab_title">
                    <div class="tab_item">
                        <div class="tab_block active_tab" data-type="direction">
                            Напрямок                        </div>
                    </div>
                    <div class="tab_item">
                        <div class="tab_block" data-type="services">
                            Послуги / Процедури                        </div>
                    </div>
                    <div class="tab_item">
                        <div class="tab_block" data-type="special">
                            Cпеціалізація лікаря                        </div>
                    </div>
                    <div class="tab_item">
                        <div class="tab_block" data-type="post_title_doc">
                            ПІБ лікаря                        </div>
                    </div>
                </div>
                <div class="search_line">
                    <input type="text" placeholder="Пошук" class="main_find_input">
                </div>
                <div class="section_block_desc">* Ведіть пошук українською мовою</div>
            </div>
        </div>
    </div>
</section>