<div class="header_section_1">
    <div class="header_section_1_left">
        <div class="header_section_1_nav_item">
            <a href="/about">Про медцентр</a></div><div class="header_section_1_nav_item">
            <a href="/post_staff">Лікарі</a></div><div class="header_section_1_nav_item">
            <a href="/shares">Анонси</a></div><div class="header_section_1_nav_item">
            <a href="/qa">Питання та відповіді</a></div><div class="header_section_1_nav_item">
            <a href="/price-list">Вартість</a></div><div class="header_section_1_nav_item">
            <a href="/partners">Зарубіжні партнери</a></div><div class="header_section_1_nav_item">
            <a href="/blog">Статті</a></div><div class="header_section_1_nav_item">
            <a href="/news">Новини</a></div><div class="header_section_1_nav_item">
            <a href="/contacts">Як дістатися</a></div><div class="header_section_1_nav_item">
            <a href="/job">Вакансії</a></div>
    </div>
    <div class="header_section_1_right">
        <ul class="header_social">
            <li><a href="https://www.facebook.com/manufacturaclinica/" target="_blank">
                <img src="/img/fb.svg" class="social_img" alt=""
                     data-desctop-easy-load="/template/images/fb.svg"></a>
            </li>
            <li>
                <a href="https://www.instagram.com/manufacturaclinica/" target="_blank">
                    <img src="/img/inst.svg" class="social_img" alt=""
                         data-desctop-easy-load="/template/images/inst.svg"></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCPjVgs86oRAtcXI_uip703w" target="_blank">
                    <img src="/img/yt.svg" class="social_img" alt=""
                         data-desctop-easy-load="/template/images/yt.svg"></a>
            </li>
        </ul>
        <a href="/">
            <img src="/img/ukraine.svg" class="lang_img">
        </a>
        <a href="/ru/">
            <img src="/img/flag_ru.svg" class="lang_img">
        </a>
        <a href="/en/">
            <img src="/img/flag_en.jpg" class="lang_img">
        </a>
    </div>
</div>