<div class="header_section_2">
    <div class="header_section_2_item">
        <a href="/"><img src="/img/Logo02.png" data-desctop-easy-load="/img/Logo02.png"></a>
    </div>
    <div class="header_section_2_item">
        <img src="/img/header_24.svg" class="size_24" data-desctop-easy-load="/img/header_24.svg">
        <div class="tel_block">
            <div class="tel_header"><span>044</span> 200 11 99</div>
            <div class="tel_header"><span>093</span> 200 11 90</div>
            <div class="tel_header"><span>067</span> 200 11 97</div>
        </div>
        <div class="header_login">
            <ul class="login_list">
                <li><a href="#">Особистий кабінет</a></li>
                <li><a href="#">Реєстрація</a></li>
            </ul>
            <input type="text" class="find_input_header" placeholder="Пошук">
        </div>
    </div>
    <div class="header_section_2_item">
        <button class="button_style_header background_support popup_active" data-type="question">Задати питання</button>
        <button class="button_style_header background_main popup_active" data-type="appointment">Записатись на прийом</button>
    </div>
</div>