<div class="header_section_3">
    <div class="menu_main_item dropdown_item">
        <a href="#">Консультація <br>лікарів</a>
            <div class="dropdown_menu">
                <ul class="dropdown_menu_list">
                    <li><a href="/direction/simejnij-likar-ta-terapevt/">
                    Сімейний лікар та терапевт</a></li>
                    <li><a href="/direction/pediatr/">
                    Педіатр</a></li>
                    <li><a href="/direction/gastroenterolog/">
                    Гастроетеролог</a></li>
                    <li><a href="/direction/nevrolog/">
                    Невролог</a></li>
                    <li><a href="/direction/endokrynolog/">
                    Ендокринолог</a></li>
                    <li><a href="/direction/kardiolog/">
                    Кардіолог</a></li>
                    <li><a href="/direction/alergolog/">
                    Алерголог</a></li>
                    <li><a href="/direction/dermatolog/">
                    Дерматолог</a></li>
                    <li><a href="/direction/urolog/">
                    Уролог</a></li>
                    <li><a href="/direction/ginekolog/">
                    Гінеколог</a></li>
                    <li><a href="/direction/proktolog/">
                    Проктолог</a></li>
                    <li><a href="/direction/hirurg/">
                    Хірург</a></li>
                    <li><a href="/direction/flebolog-sudinnij-hirurg/">
                    Судинний хірург (Флеболог)</a></li>
                    <li><a href="/direction/nejrohirurg/">
                    Нейрохірург</a></li>
                    <li><a href="/direction/ortoped-ta-travmatolog/">
                    Ортопед та травматолог</a></li>
                    <li><a href="/direction/otolaringolog/">
                    Отоларинголог</a></li>
                    <li><a href="/direction/mammolog-onkolog/">
                    Мамолог-онколог</a></li>
                    <li><a href="/direction/oftalmolog/">
                    Офтальмолог</a></li>
                    <li><a href="/direction/psihiatr/">
                    Психіатр</a></li>
                </ul>
            </div>
    </div>
    <div class="menu_main_item">
        <a href="/direction/statsionar/">Стаціонар</a>
    </div>
    <div class="menu_main_item">
        <a href="/direction/hirurgiya-ta-reanimatsiya/">Хірургія <br>та реанімація</a>
    </div>
    <div class="menu_main_item">
        <a href="#">Акушерство <br>та гінекологія</a>
    </div>
    <div class="menu_main_item dropdown_item">
        <a href="#">Реабілітація</a>
        <div class="dropdown_menu">
            <ul class="dropdown_menu_list">
                <li><a href="/direction/vertebrologiya-ta-reabilitatsiya/">
                Вертебрологія та реабілітація</a></li>
                <li><a href="/services/elektrostimulyatsiya/">
                Електростимуляція</a></li>
                <li><a href="/services/uvch-terapiya/">
                УВЧ-терапія</a></li>
                <li><a href="/services/darsonvalizatsiya/">
                Дарсонвалізація</a></li>
                <li><a href="/services/lfk-ta-masage/">
                ЛФК та масаж</a></li>
                <li><a href="/services/udarno-hvylova-terapiya/">
                Ударно-хвильова терапія</a></li>
                <li><a href="/services/kompyuterna-trakziya-hrebta/">
                Комп'ютерна тракція хребта</a></li>
                <li><a href="/services/omolodzhennya-oblichchya/">
                Омолодження обличчя</a></li>
            </ul>
        </div>
    </div>
    <div class="menu_main_item dropdown_item">
        <a href="#">Діагностика</a>
        <div class="dropdown_menu">
            <ul class="dropdown_menu_list">
                <li><a href="/services/kt-diagnostyka/">
                КТ-Діагностика</a></li>
                <li><a href="/services/mrt-diagnostika/">
                МРТ-Діагностика</a></li>
                <li><a href="/services/traktografiya/">
                Трактографія</a></li>
                <li><a href="/services/rentgen/">
                Рентген</a></li>
                <li><a href="/services/ultrazvukove-doslidzhennya-uzd/">
                УЗ-Діагностика</a></li>
                <li><a href="/services/laboratoriya/">
                Лабораторія</a></li>
                <li><a href="/services/gastroskopiya/">
                Гастроскопія</a></li>
                <li><a href="/services/rektomanoskopiya/">
                Ректоманоскопія</a></li>
                <li><a href="/services/kolonoskopiya/">
                Колоноскопія</a></li>
            </ul>
        </div>
    </div>
    <div class="menu_main_item">
        <a href="/services/viklik-likarya/">Виклик лікаря</a>
    </div>
    <div class="menu_main_item dropdown_item">
        <a href="#">Детоксикація</a>
        <div class="dropdown_menu">
            <ul class="dropdown_menu_list">
                <li><a href="/services/infuzijna-terapiya/">
                Інфузійна терапія</a></li>
                <li><a href="/services/plazmaferez/">
                Плазамферез</a></li>
                <li><a href="/services/gemosorbtsiya/">
                Гемосорбція</a></li>
                <li><a href="/services/ozonoterapiya/">
                Озонотерапія</a></li>
            </ul>
        </div>
    </div>
    <div class="menu_main_item dropdown_item">
        <a href="#">Програми</a>
        <div class="dropdown_menu">
            <ul class="dropdown_menu_list">
                <li><a href="/programs-adults/">
                Програми для дорослих</a></li>
                <li><a href="/programs-children/">
                Програми для дітей</a></li>
            </ul>
        </div>
    </div>
    <div class="menu_main_item dropdown_item">
        <a href="#">Профогляди</a>
        <div class="dropdown_menu">
            <ul class="dropdown_menu_list">
                <li><a href="/medical-cards/">
                Медичні книжки</a></li>
                <li><a href="/health-certificates/">
                Медичні довідки</a></li>
                <li><a href="/health-examinations/">
                Профогляди</a></li>
            </ul>
        </div>
    </div>
</div>