<section class="left_right_text text_section">
    <div class="container left_right_text_row">
        <div class="left_right_text_left">
            {{#simpleContent text_left}}{{/simpleContent}}
        </div>
        <div class="left_right_text_right">
            {{#simpleContent text_right}}{{/simpleContent}}
        </div>
    </div>
</section>