<section class="main_programs">
    <div class="container-fluid">
        <div class="row">
            <div class="program_wrapper">
                <div class="program_left">
                    <p class="program_title color_blue">Програми для дорослих</p>
                    <p class="all_programs"><a href="/programs-adults/" class="background_blue">всі програми</a></p>
                    <div class="program_list_wrapper">
                        <div class="big_card position_bottom fade_up" data-animate="fade_up">
                            <div class="big_card_left">
                                <img src="http://admin.manufacturaclinica.com/template/uploads/1578480859Zdorovja zhinky small 2.jpg">
                                <img src="/img/edge.png" class="card_edge">
                            </div>
                            <div class="big_card_right">
                                <div class="big_card_right_wrapper">
                                    <p class="program_text_first color_red"></p>
                                    <p class="program_text_second color_blue">Обстеження для жінок</p>
                                    <p class="program_text_third"></p>
                                    <a href="/programs/obstezhennya-dlya-zhinok/"><button class="button_style_program_blue">Детальніше</button></a>
                                </div>
                            </div>
                        </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1578501543Zdorovja serdca small.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_blue">Програми «Здоров'я серця»</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/programy-zdorovya-sertsya/"><button class="button_style_program_blue">Детальніше</button></a>
                            </div>
                        </div>
                    </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1578502011Zdorovja cholovika small.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_blue">Обстеження для чоловіків</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/obstezhennya-dlya-cholovikiv/"><button class="button_style_program_blue">Детальніше</button></a>
                            </div>
                        </div>
                    </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1578491667Vashe zdorovja small.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_blue">Програми «Ваше здоров'я»</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/programy-vashe-zdorovya/"><button class="button_style_program_blue">Детальніше</button></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="program_right">
                    <p class="program_title color_red">Програми для дітей</p>
                    <p class="all_programs"><a href="/programs-children/" class="background_red">всі програми</a></p>
                    <div class="program_list_wrapper">

                        <div class="big_card position_bottom fade_up" data-animate="fade_up">
                            <div class="big_card_left">
                                <img src="http://admin.manufacturaclinica.com/template/uploads/1578564191Patronazh small.jpg">
                                <img src="/img/edge.png" class="card_edge">
                            </div>
                            <div class="big_card_right">
                                <div class="big_card_right_wrapper">
                                    <p class="program_text_first color_red"></p>
                                    <p class="program_text_second color_brown">Програма патронажу дітей від 0 до 1 року</p>
                                    <p class="program_text_third"></p>
                                    <a href="/programs/programa-patronazhu-ditej-vid-0-do-1-roku/"><button class="button_style_program_red">Детальніше</button></a>
                                </div>
                            </div>
                        </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1578563817Dytyachyj sadok small.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_brown">Програма комплексного медичного огляду для малюків «Дитячий садочок»</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/programa-kompleksnogo-medichnogo-ogljadu-dlja-maljukiv-ditjachij-sadochok/"><button class="button_style_program_red">Детальніше</button></a>
                            </div>
                        </div>
                    </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1578563988shkola small.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_brown">Програма комплексного медичного огляду для дітей «Школа»</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/programa-kompleksnogo-medichnogo-ogljadu-dlja-ditej-shkola/"><button class="button_style_program_red">Детальніше</button></a>
                            </div>
                        </div>
                    </div><div class="big_card position_bottom fade_up" data-animate="fade_up">
                        <div class="big_card_left">
                            <img src="http://admin.manufacturaclinica.com/template/uploads/1580727526turbota pro dytynu.jpg">
                            <img src="/img/edge.png" class="card_edge">
                        </div>
                        <div class="big_card_right">
                            <div class="big_card_right_wrapper">
                                <p class="program_text_first color_red"></p>
                                <p class="program_text_second color_brown">Програма «Турбота про дитину»</p>
                                <p class="program_text_third"></p>
                                <a href="/programs/programa-turbota-pro-dytynu/"><button class="button_style_program_red">Детальніше</button></a>
                            </div>
                        </div>
                    </div>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>