<section class="main_banner" style="background: url({{banner}}) top center no-repeat">
    <div class="container">
        <div class="row">
            <div class="main_banner_wrapper_title">
                <h1 class="letter_spacing" data-animate="letter_spacing">{{h1}}</h1>
            </div>
            <div class="main_banner_desc">
                <p class="fade_out fade_in" data-animate="fade_in">
                    {{post_desc}}
                </p>
            </div>
            {{> breadcrumbs}}
        </div>
    </div>
</section>