<div class="slider" style="display: block;">
    <div class="slider_img"
         style="background: url('http://admin.manufacturaclinica.com/template/uploads/1587461381mamographia.jpg');"></div>
    <div class="slider_button_left"><img src="/img/Left.svg" class="main_slider_arrow_left"></div>
    <div class="slider_button_right"><img src="/img/Right.svg" class="main_slider_arrow_right"></div>
    <div class="container">
        <div class="row">
            <div>
                <p class="slider_title_1">ЗНИЖКА ДО КІНЦЯ КВІТНЯ 20%</p>
                <p class="slider_title_2">МАМОГРАФІЯ<span></span></p>
                <button class="button_style background_main slider_button main_slider_link">Подробнее</button>
            </div>
        </div>
    </div>
    <div class="support">
        <div class="main_slider_item"
             data-desctopimg="http://admin.manufacturaclinica.com/template/uploads/1586253697akc_stac2.jpg"
             data-mobileimg="http://admin.manufacturaclinica.com/template/uploads/1586253697akc_stac2.jpg"
             data-text_1="КОМФОРТАБЕЛЬНІ УМОВИ" data-text_2="ЛІКУВАННЯ ТА РЕАБІЛІТАЦІЇ"
             data-text_3=""
             data-link="/shares/dvomisna-palata-statsionaru/">
        </div>
        <div class="main_slider_item"
             data-desctopimg="http://admin.manufacturaclinica.com/template/uploads/1586253973aks_intens2.jpg"
             data-mobileimg="http://admin.manufacturaclinica.com/template/uploads/1586253973aks_intens2.jpg"
             data-text_1="ЦІЛОДОБОВЕ СПОСТЕРЕЖЕННЯ В"
             data-text_2="РЕАНІМАЦІЙНИХ ПАЛАТАХ"
             data-text_3=""
             data-link="/shares/palati-intensivnoyi-terapiyi/">
        </div>
        <div class="main_slider_item"
             data-desctopimg="http://admin.manufacturaclinica.com/template/uploads/1586254015aks_udarna_terapiya2.jpg"
             data-mobileimg="http://admin.manufacturaclinica.com/template/uploads/1586254015aks_udarna_terapiya2.jpg"
             data-text_1="ЛІКУВАННЯ ОПОРНО-РУХОВОГО АППАРАТУ"
             data-text_2="УДАРНО-ХВИЛЬОВА ТЕРАПІЯ"
             data-text_3="" data-link="/services/udarno-hvylova-terapiya/">
        </div>
        <div class="main_slider_item"
             data-desctopimg="http://admin.manufacturaclinica.com/template/uploads/1587461381mamographia.jpg"
             data-mobileimg="http://admin.manufacturaclinica.com/template/uploads/1587461381mamographia.jpg"
             data-text_1="ЗНИЖКА ДО КІНЦЯ КВІТНЯ 20%"
             data-text_2="МАМОГРАФІЯ"
             data-text_3=""
             data-link="/shares/mamografiya/">
        </div>
    </div>
</div>