<section class="section_main_form">
    <div class="container">
        <div class="row">
                <p class="main_form_title">Запишіться на прийом</p>
            <div class="main_form_wrapper">
                <div class="main_form_left">
                    <p class="main_form_label">
                        Ваше ім'я                </p>
                    <input type="text" name="main_form_name">
                    <p class="main_form_label">
                        Номер телефону                </p>
                    <input type="text" name="main_form_tel">
                    <p class="main_form_label">
                        E-mail                </p>
                    <input type="text" name="main_form_email">
                </div>
                <div class="main_form_right">
                    <p class="main_form_label">
                        Напрямок                </p>
                    <select name="main_form_direction">
                        <option>Терапевт/Сімейний лікар</option>
                        <option>Педіатр</option>
                        <option>Педіатр-неонатолог</option>
                        <option>Педіатр, гемотолог</option>
                        <option>Дитячий анестезіолог</option>
                        <option>Анестезіолог</option>
                        <option>Дієтолог</option>
                        <option>Гастроентеролог</option>
                        <option>Проктолог</option>
                        <option>Хірург-колопроктолог</option>
                        <option>Невролог</option>
                        <option>Ендокринолог</option>
                        <option>Ендокринний хірург</option>
                        <option>Кардіолог</option>
                        <option>Кардіохірург</option>
                        <option>Уролог</option>
                        <option>Уролог-онколог</option>
                        <option>Гінеколог</option>
                        <option>Акушер-гінеколог</option>
                        <option>Дерматолог</option>
                        <option>Алерголог</option>
                        <option>Хірург</option>
                        <option>Хірург-онколог</option>
                        <option>Торакальний хірург</option>
                        <option>Флеболог</option>
                        <option>Нейрохірург</option>
                        <option>Онко-нейрохірург</option>
                        <option>Ортопед-травматолог</option>
                        <option>Отоларинголог</option>
                        <option>Онко-отоларинголог</option>
                        <option>Мамолог</option>
                        <option>Онко-мамолог</option>
                        <option>Пластичний хірург</option>
                        <option>Вертебролог</option>
                        <option>Реабілітолог</option>
                        <option>КТ-діагностика</option>
                        <option>МРТ-Діагностика</option>
                        <option>Трактографія</option>
                        <option>Рентген</option>
                        <option>Мамографія</option>
                        <option>УЗ-діагностика</option>
                        <option>Гастроскопія</option>
                        <option>Ректоманоскопія</option>
                        <option>Колоноскопія</option>
                        <option>Плазмаферез</option>
                        <option>Гемосорбція</option>
                        <option>Озонотерапія</option>
                        <option>Ботулінотерапія</option>
                        <option>Біоревіталізація</option>
                        <option>Контурна пластика</option>
                        <option>Ліфтинг з Radiesse</option>
                        <option>Плазмоліфтинг</option>
                        <option>Мезотерапія</option>
                        <option>Хімічний пілінг</option>
                    </select>
                    <p class="main_form_label">
                        Бажана дата                </p>
                    <input type="date" name="main_form_data">
                    <p class="main_form_label">
                        Коментар                </p>
                    <textarea name="main_form_comment"></textarea>
                </div>
            </div>
            <div class="main_form_policy">
                <input type="checkbox" required="" name="main_form_policy">
                <label for="policy">
                    Я даю згоду на зберігання і обробку моїх персональних даних                   </label>
                <br>
                <button class="button_style background_blue" id="main_form_submite">
                    Надіслати                </button>
                <div class="block_error_main"></div>
            </div>
        </div>
    </div>
    <div class="login_wrapper">
        <div class="login_item">
            <div class="container_login">
                <img src="/img/chat.png">
                <span class="login_link popup_activ_2">Задати питання</span>
            </div>
        </div>
        <div class="login_item">
            <div class="container_login">
                <img src="/img/pancil.png">
                <span class="login_link popup_activ_3">Залишити відгук</span>
            </div>
        </div>
        <div class="login_item">
            <div class="container_login">
                <img src="/img/key.png">
                <span class="login_link">Особистий кабінет</span>
            </div>
        </div>
    </div>
</section>