<div class="container">
        <div class="row">
            <div class="col-lg-12 footer_company">
                <a href="http://manufactura.ua/ua/entertainment/services/fitnes-klub-deltaplan/" target="_blank">
                    <img src="http://admin.manufacturaclinica.com/template/uploads/1587199642logo1.png"
                         data-desctop-easy-load="http://admin.manufacturaclinica.com/template/uploads/1587199642logo1.png"></a>
                <a href="http://manufactura.ua/ua/" target="_blank">
                <img src="http://admin.manufacturaclinica.com/template/uploads/1587199642logo2.png"
                     data-desctop-easy-load="http://admin.manufacturaclinica.com/template/uploads/1587199642logo2.png"></a>
                <a href="http://www.manufactura-hotel.com/" target="_blank">
                <img src="http://admin.manufacturaclinica.com/template/uploads/1587199642brands-gray-00004.jpg"
                     data-desctop-easy-load="http://admin.manufacturaclinica.com/template/uploads/1587199642brands-gray-00004.jpg">
                </a>
            </div>
        </div>
</div>