<section class="reviews reviews_slider fade_out fade_in" data-animate="fade_in">
    <div class="container">
        <div class="row">
            <p class="reviews_title">Відгуки про нас</p>
            <div class="wrapper_reviews">
                <div class="slider_review_left"><img src="/img/Left.svg" class="doc_slider_arrow_left"></div>
                <div class="slider_review_right"><img src="/img/Right.svg" class="doc_slider_arrow_right"></div>
                <div class="box_reviews">
                    <div class="container_review">
                        <div class="item_review">
                            <div class="item_review_text text-center">
                                <p>Дуже рада, що звернулася в клініку «Мануфактура» до
                                хірурга Валерія Валерійовича. Величезне дякую за допомогу. (Відгук зі сторінки Медичний центр
                                "Клініка Мануфактура" Google)</p>
                            </div>
                            <p class="item_review_name">Користувач Валерия Лопатина</p>
                        </div>
                        <div class="item_review">
                            <div class="item_review_text text-center">
                                <p>У дитини піднялася температура 40, збивали, але вона все одно піднімалася, вирішили
                                    викликати швидку. Це було 31 грудня, вже ближче до вечора, Клініка Мануфактура виявилася
                                    єдиною клінікою, яка була готова оперативно приїхати за місто в Софіївську Борщагівку.
                                    Дякую педіатру Юлії Борисівні, за уважний огляд, ефективні поради. Окрема подяка
                                    медсестрі Наташі за підхід до маленької дитини. Окремо, хочу відзначити зворотний
                                    зв'язок - з лікарем можна було зв'язатися в разі гострої необхідності по телефону.
                                    Дякую!(Відгук зі сторінки Медичний центр "Клініка Мануфактура" Google)</p>
                            </div>
                            <p class="item_review_name">Користувач Titylichka</p>
                        </div>
                        <div class="item_review">
                            <div class="item_review_text text-center">
                                <p>Приємно здивовані сервісом! Звернулися за допомогою до дівчини адміністратора
                                    при виписці, дуже щира та ввічлива, зразу видно, що людина на своєму місці.
                                    Дуже швидко вирішила всі питання, і при наступних зверненнях завжди підходила і
                                    запитувала, чи треба допомога. Дякуємо, за таке ставлення та відношення ваших
                                    співробітників! (Відгук зі сторінки Медичний центр "Клініка Мануфактура" Google)</p>
                            </div>
                            <p class="item_review_name">Користувач Павел Павел</p>
                        </div>
                    </div>
                </div>
            </div>
                <p class="all_link"><a href="/feedback/" class="background_white">всі відгуки</a></p>
        </div>
    </div>
</section>