<section class="main_banner"
         style="background:url({{banner}}) top center no-repeat;">
    <div class="container">
        <div class="row">
            <h1 class="letter_spacing" data-animate="letter_spacing">{{h1}}</h1>
            <div class="main_banner_desc">
                <a href="#" class="pay_online">Оплатити онлайн</a>
            </div>
        </div>
    </div>
</section>