<section class="company_slider">
    <div class="container">
        <div class="row">
                <p class="company_slider_title">Партнерські страхові компанії</p>
            <div class="col-lg-12 company_slider_wrapper">
                <div class="slider_company_left">
                    <img src="/img/Left.svg" class="doc_slider_arrow_left">
                </div>
                <div class="slider_company_right">
                    <img src="/img/Right.svg" class="doc_slider_arrow_right">
                </div>
                <div class="slider_company_container">
                    <div class="company_slider_box">
                        <div class="company_slider_item">
                            <img src="/img/partners_1.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_2.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_3.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_4.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_5.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_5.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_5.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_5.jpg">
                        </div>
                        <div class="company_slider_item">
                            <img src="/img/partners_5.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>