<section class="main_banner staff_banner">
    <div class="container">
        <div class="row staff_banner_wrapper">
            <div class="staff_banner_left">
                <h1>{{h1}}</h1>
                <div class="main_banner_desc">
                    <p>{{desc_doc}}</p>
                    <p>{{exp_doc}}</p>
                    <button class="doc_button popup_activ_2">
                        Задати питання лікарю
                    </button>
                </div>
            </div>
            <div class="staff_banner_right">
                <img src="{{thumbnail}}">
            </div>
        </div>
        {{> breadcrumbs}}
    </div>
</section>