<section class="ture">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="tur_title">Дивіться 3D тур нашого центру</p>
            </div>
            <div class="col-lg-12">
                <iframe style="border: 0;"
                        src="https://www.google.com/maps/embed?pb=!4v1513605484460!6m8!1m7!1sCAoSLEFGMVFpcE5jSlJlWEc4QkpqUmlmS0FlTEtkanU2Y0ZyYTlINDNZRmVkN21V!2m2!1d50.268192958299!2d30.53303446042!3f214!4f0!5f0.7820865974627469"
                        width="100%" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
    </div>
</section>