<main>
    {{> main_banner}}
    {{#contentSection content}}{{/contentSection}}
    {{> about_direction}}
    {{> ture}}
    {{> about_galery}}
    {{#staffSlider staff}}{{/staffSlider}}
    {{#reviewsSection reviews}}{{/reviewsSection}}
    {{#jobSlider job}}{{/jobSlider}}
    {{> slider_partners}}
    {{> main_form}}
</main>
