<main>
    {{> main_banner}}
    {{#contentSection content}}{{/contentSection}}
    {{#listServices list_services}}{{/listServices}}
    {{> global_found}}
    {{#sharesSlider shares_slider}}{{/sharesSlider}}
    {{#contentSection content_2}}{{/contentSection}}
    {{#listServices list_services_2}}{{/listServices}}
    {{#contentSection content_3}}{{/contentSection}}
    {{#priceAccordion accordions 'Стоимость услуг'}}{{/priceAccordion}}
    {{> main_form}}
    {{#staffSlider staff}}{{/staffSlider}}
    {{#reviewsSection reviews}}{{/reviewsSection}}
    {{#categoryBlogRow posts}}{{/categoryBlogRow}}
</main>