<main>
    {{> main_slider}}
    {{#plusesSection pluses}}{{/plusesSection}}
    {{> global_found}}
    {{#contentSection content}}{{/contentSection}}
    {{> main_programs}}
    {{#staffSlider staff}}{{/staffSlider}}
    {{> main_form}}
    {{> main_news}}
</main>