<main>
    {{> main_banner}}
    {{#contentSection content}}{{/contentSection}}
    {{#partnersRow partners}}{{/partnersRow}}
    {{#contentSection content_2}}{{/contentSection}}
    {{> main_form}}
</main>
