<main>
    {{> main_banner}}
    {{#contentSection content}}{{/contentSection}}
    {{> global_found}}
    {{#sharesSlider shares_slider}}{{/sharesSlider}}
    {{#contentSection content_2}}{{/contentSection}}
    {{#priceAccordion accordions 'Стоимость услуг'}}{{/priceAccordion}}
    {{> main_form}}
    {{#staffSlider staff}}{{/staffSlider}}
    {{#reviewsSection reviews}}{{/reviewsSection}}
    {{#categoryBlogRow posts}}{{/categoryBlogRow}}
</main>