.ture {
  padding-top: 110px;
  background: $color_gray;
  padding-bottom: 90px;
  .tur_title {
    margin-bottom: 25px;
    text-align: center;
    font-family: $font_maria_regular;
    font-weight: 300;
    font-size: 30px;
    color: $color_blue;
    line-height: 40px;
  }
}