.category_title {
  background: url(/img/header-2.jpg) top center no-repeat;
  padding-bottom: 30px;
  padding-top: 240px;
  h1 {
    text-align: center;
    font-family: $font_maria_regular;
    font-weight: 300;
    font-size: 30px;
    color: $color_blue;
  }
}