$color_white: #fff;
$color_gray: #f4f4f4;
$color_blue: #0097b0;
$color_red: #f15b5a;
$color_light_blue: #d4f9f9;
$color_black: #19191a;
$color_black_gray: #88929b;
$color_middle_gray: #919ba4;
$content_width: 1300px;
$font_roboto: 'Roboto';
$font_open_sans: "Open Sans,sans-serif";
$font_maria_regular: "Merriweather-Regular";
$font_giorgia: "Georgia,Times,serif";