.footer_company {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  img {
    height: 91px;
    margin-left: 10px;
    margin-right: 10px;
  }
}