.blog_top_section {
  padding-top: 285px;
  min-height: 800px;
  background: url('/img/header-2.jpg') top no-repeat;
  .text_section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .post_thumbnail {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    display: block;
  }
  h1 {
    font-family: $font_maria_regular;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.3;
    color: $color_blue;
    margin-bottom: 30px;
    text-align: left;
  }
}